body {
    background: url("https://images.pexels.com/photos/908284/pexels-photo-908284.jpeg?auto=compress&cs=tinysrgb&h=350");
    background-size: cover;
}

main {
    display: flex;
    margin-top: 80px;
    width: 100%;
    color: rgb(37, 79, 114); 
    flex-wrap: wrap
}

.p-container {
    width: 300px;
    box-sizing: border-box;
    background-color: rgb(109, 220, 235);
    text-align: center;
    height: 400px;
    border-radius: 1em;
    box-shadow: 0px 5px 8px  rgb(51, 128, 138);
    padding-top: 30px;
    margin: 10px auto;
}

.p-container li{
    list-style: none;
    margin-top: 7px;
}

.p-container li a:hover {
    color: white;
}

.p-container li a {
    text-decoration: none;
    color:  rgb(37, 79, 114); 
}

